// main colors
$Purple: #a45dbf; // hsl(259, 100%, 65%)
$Light-red: #ff6f61; // hsl(0, 100%, 67%)

// Neutral
$White: #ffffff; // hsl(0, 0%, 100%)
$Off-white: #f0f0f0; // hsl(0, 0%, 94%)
$Light-grey: #dbdbdb; // hsl(0, 0%, 86%)
$Smokey-grey: #6f6f6f; // hsl(0, 1%, 44%)
$Off-black: #1f1f1f; // hsl(0, 0%, 8%)

//Input Font Size
$input-font-size: 32px;
$sm-size: "min-width: 576px";
$md-size: "min-width: 768px";
$lg-size: "min-width: 992px";
$xl-size: "min-width: 1200px";

// fonts
$fonts: "Poppins-Bold", "Poppins-ExtraBold", "Poppins-Italic", "Poppins-Regular";
